name: Deploy to PythonAnywhere

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger deployment
        run: |
          curl -X GET "https://dsyfb437.pythonanywhere.com/git_pull?key=$DEPLOY_KEY"
        env:
          DEPLOY_KEY: ${{ secrets.DEPLOY_KEY }}
